<div class="container">
  <h1><%= @restaurant.name %></h1>
  <p><%= @restaurant.category.capitalize %></p>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.phone_number %></p>
  <div class="reviews">
    <h3>Reviews</h3>
    <ul>
      <% @restaurant.reviews.each do |review| %>
        <li><%= review.content %> - <%= review.rating %>*</li>
      <% end %>
    </ul>
  </div>
  <div>
    <%= link_to 'Add a Review', new_restaurant_review_path(@restaurant), class:'btn btn-primary'%>
  </div>
  <%= link_to 'Back to list', restaurants_path %>
</div>

